In [7]:
import sqlite3
import pandas as pd
import csv
import argparse

In [8]:
db = sqlite3.connect("Covid.db")
cur = db.cursor()
con = sqlite3.connect("Covid.db")

In [9]:
df = pd.read_csv(r"/Users/jenny.wade@schibsted.com/Documents/GitHub/python_programmering/Inl√§mning/covid_vaccinations.csv")
df = df.fillna(0)
db = df.to_sql("Covid_vaccinations", con, schema=None, if_exists="replace", index=True, index_label=None, chunksize=None, dtype=None, method=None)

In [10]:
#Creating all tables (empty) I need for my database below:

In [11]:
cur.execute("""CREATE TABLE Daily_Vaccine_Data(
            iso_code text,
            date text,
            country text,
            daily_vaccinations integer,
            daily_vaccinations_per_million,
            PRIMARY KEY(iso_code, date)
            FOREIGN KEY(country) REFERENCES Country_Source(country))""")

In [12]:
cur.execute("""CREATE TABLE Country_Source(
            country text PRIMARY KEY, 
            source_name text, 
            source_website text)""")

In [13]:
cur.execute("""CREATE TABLE Country_Vaccines(
    country text PRIMARY KEY, Johnson_and_Johnson integer, 
    Oxford_AstraZeneca integer, Sinovac integer,
    Sputnik_V integer, Moderna integer, 
    Sinopharm_Beijing integer, Covaxin integer, 
    CanSino integer, Abdala integer, 
    Pfizer_BioNTech integer, QazVac integer, 
    EpiVacCorona integer, Soberana02 integer, 
    Sinopharm_HayatVax integer, RBDDimer integer, 
    Sinopharm_Wuhan integer,
    FOREIGN KEY(country) REFERENCES Country_Source(country))""")

In [14]:
cur.execute("""CREATE TABLE Country_Total(
    iso_code text,
    date text,
    total_vaccinations integer, 
    country text , 
    people_vaccinated integer, 
    people_fully_vaccinated integer,
    total_vaccinations_per_hundred real, 
    people_vaccinated_per_hundred real, 
    people_fully_vaccinated_per_hundred real,
    PRIMARY KEY (iso_code, date)
    FOREIGN KEY(country) REFERENCES Country_Source(country))""")

In [15]:
#Creating copy tables with all the data I need for each table already ordered

In [16]:
cur.execute("""CREATE TABLE Daily_Vaccine_Data_data AS SELECT
            iso_code, date, country, daily_vaccinations, daily_vaccinations_per_million
            FROM Covid_vaccinations""")

In [17]:
cur.execute("""CREATE TABLE Country_Source_data
            AS SELECT DISTINCT country, source_name, source_website 
            FROM Covid_vaccinations""")

In [18]:
cur.execute("""CREATE TABLE Country_vaccines_data AS SELECT DISTINCT country, 
            Johnson_and_Johnson, Oxford_AstraZeneca, Sinovac, Sputnik_V, Moderna, 
            Sinopharm_Beijing, Covaxin, CanSino, Abdala, Pfizer_BioNTech, QazVac, 
            EpiVacCorona, Soberana02, Sinopharm_HayatVax, RBD_Dimer, Sinopharm_Wuhan 
            FROM Covid_vaccinations""")

In [19]:
cur.execute("""CREATE TABLE Country_Total_data AS SELECT DISTINCT iso_code, date, country, total_vaccinations, people_vaccinated,
            people_fully_vaccinated, total_vaccinations_per_hundred, people_vaccinated_per_hundred,
            people_fully_vaccinated_per_hundred FROM Covid_vaccinations""")

In [20]:
#Insert data table into actual table
cur.execute("""INSERT INTO Country_Source SELECT * FROM Country_Source_data""")

In [21]:
#Inserting data from remaining tables into corresponding table
cur.execute("""INSERT INTO Daily_Vaccine_Data SELECT * FROM Daily_Vaccine_Data_data""")
cur.execute("""INSERT INTO Country_Vaccines SELECT * FROM Country_vaccines_data""")
cur.execute("""INSERT INTO Country_Total SELECT * FROM Country_Total_data """)

In [22]:
#After checking that all tables have the right data I'll remove the data tables along with the original
cur.execute("""DROP TABLE Daily_Vaccine_Data_data""")
cur.execute("""DROP TABLE Country_Source_data""")
cur.execute("""DROP TABLE Country_vaccines_data""")
cur.execute("DROP TABLE Country_total_data")
cur.execute("DROP TABLE Covid_vaccinations")

In [23]:
con.commit()

In [24]:
cur.execute("""SELECT date, country, daily_vaccinations FROM Daily_Vaccine_Data WHERE Country LIKE 'Sweden' AND date like '2021%'""")
cur.fetchall()

[('2021-01-01', 'Sweden', 1964),
 ('2021-01-02', 'Sweden', 1964),
 ('2021-01-03', 'Sweden', 1964),
 ('2021-01-04', 'Sweden', 2409),
 ('2021-01-05', 'Sweden', 2854),
 ('2021-01-06', 'Sweden', 3300),
 ('2021-01-07', 'Sweden', 3745),
 ('2021-01-08', 'Sweden', 4190),
 ('2021-01-09', 'Sweden', 4635),
 ('2021-01-10', 'Sweden', 5081),
 ('2021-01-11', 'Sweden', 5954),
 ('2021-01-12', 'Sweden', 6827),
 ('2021-01-13', 'Sweden', 7701),
 ('2021-01-14', 'Sweden', 8574),
 ('2021-01-15', 'Sweden', 9448),
 ('2021-01-16', 'Sweden', 10321),
 ('2021-01-17', 'Sweden', 11194),
 ('2021-01-18', 'Sweden', 11959),
 ('2021-01-19', 'Sweden', 12724),
 ('2021-01-20', 'Sweden', 13488),
 ('2021-01-21', 'Sweden', 14253),
 ('2021-01-22', 'Sweden', 15018),
 ('2021-01-23', 'Sweden', 15782),
 ('2021-01-24', 'Sweden', 16547),
 ('2021-01-25', 'Sweden', 16042),
 ('2021-01-26', 'Sweden', 15538),
 ('2021-01-27', 'Sweden', 15033),
 ('2021-01-28', 'Sweden', 14528),
 ('2021-01-29', 'Sweden', 14024),
 ('2021-01-30', 'Sweden', 13519),
 ('2021-01-31', 'Sweden', 13014),
 ('2021-02-01', 'Sweden', 13193),
 ('2021-02-02', 'Sweden', 13372),
 ('2021-02-03', 'Sweden', 13551),
 ('2021-02-04', 'Sweden', 13730),
 ('2021-02-05', 'Sweden', 13909),
 ('2021-02-06', 'Sweden', 14088),
 ('2021-02-07', 'Sweden', 14267),
 ('2021-02-08', 'Sweden', 14630),
 ('2021-02-09', 'Sweden', 14993),
 ('2021-02-10', 'Sweden', 15356),
 ('2021-02-11', 'Sweden', 15719),
 ('2021-02-12', 'Sweden', 16082),
 ('2021-02-13', 'Sweden', 16445),
 ('2021-02-14', 'Sweden', 16808),
 ('2021-02-15', 'Sweden', 17549),
 ('2021-02-16', 'Sweden', 18289),
 ('2021-02-17', 'Sweden', 19029),
 ('2021-02-18', 'Sweden', 19770),
 ('2021-02-19', 'Sweden', 20510),
 ('2021-02-20', 'Sweden', 21250),
 ('2021-02-21', 'Sweden', 21991),
 ('2021-02-22', 'Sweden', 22033),
 ('2021-02-23', 'Sweden', 22075),
 ('2021-02-24', 'Sweden', 22117),
 ('2021-02-25', 'Sweden', 22159),
 ('2021-02-26', 'Sweden', 22201),
 ('2021-02-27', 'Sweden', 22243),
 ('2021-02-28', 'Sweden', 22285),
 ('2021-03-01', 'Sweden', 22958),
 ('2021-03-02', 'Sweden', 23631),
 ('2021-03-03', 'Sweden', 24303),
 ('2021-03-04', 'Sweden', 24976),
 ('2021-03-05', 'Sweden', 25649),
 ('2021-03-06', 'Sweden', 26321),
 ('2021-03-07', 'Sweden', 26994),
 ('2021-03-08', 'Sweden', 27647),
 ('2021-03-09', 'Sweden', 28301),
 ('2021-03-10', 'Sweden', 28954),
 ('2021-03-11', 'Sweden', 29607),
 ('2021-03-12', 'Sweden', 30260),
 ('2021-03-13', 'Sweden', 30913),
 ('2021-03-14', 'Sweden', 31567),
 ('2021-03-15', 'Sweden', 30590),
 ('2021-03-16', 'Sweden', 29613),
 ('2021-03-17', 'Sweden', 28637),
 ('2021-03-18', 'Sweden', 27660),
 ('2021-03-19', 'Sweden', 26684),
 ('2021-03-20', 'Sweden', 25707),
 ('2021-03-21', 'Sweden', 24730),
 ('2021-03-22', 'Sweden', 25232),
 ('2021-03-23', 'Sweden', 25734),
 ('2021-03-24', 'Sweden', 26236),
 ('2021-03-25', 'Sweden', 26738),
 ('2021-03-26', 'Sweden', 27240),
 ('2021-03-27', 'Sweden', 27742),
 ('2021-03-28', 'Sweden', 28244),
 ('2021-03-29', 'Sweden', 29610),
 ('2021-03-30', 'Sweden', 30975),
 ('2021-03-31', 'Sweden', 32340),
 ('2021-04-01', 'Sweden', 33705),
 ('2021-04-02', 'Sweden', 35071),
 ('2021-04-03', 'Sweden', 36436),
 ('2021-04-04', 'Sweden', 37801),
 ('2021-04-05', 'Sweden', 39442),
 ('2021-04-06', 'Sweden', 41082),
 ('2021-04-07', 'Sweden', 42722),
 ('2021-04-08', 'Sweden', 44363),
 ('2021-04-09', 'Sweden', 46003),
 ('2021-04-10', 'Sweden', 47644),
 ('2021-04-11', 'Sweden', 49284),
 ('2021-04-12', 'Sweden', 51919),
 ('2021-04-13', 'Sweden', 54555),
 ('2021-04-14', 'Sweden', 57190),
 ('2021-04-15', 'Sweden', 59825),
 ('2021-04-16', 'Sweden', 62460),
 ('2021-04-17', 'Sweden', 65096),
 ('2021-04-18', 'Sweden', 67731),
 ('2021-04-19', 'Sweden', 67035),
 ('2021-04-20', 'Sweden', 66338),
 ('2021-04-21', 'Sweden', 65642),
 ('2021-04-22', 'Sweden', 64946),
 ('2021-04-23', 'Sweden', 64249),
 ('2021-04-24', 'Sweden', 63553),
 ('2021-04-25', 'Sweden', 62857),
 ('2021-04-26', 'Sweden', 61996),
 ('2021-04-27', 'Sweden', 61135),
 ('2021-04-28', 'Sweden', 60274),
 ('2021-04-29', 'Sweden', 59413),
 ('2021-04-30', 'Sweden', 58552),
 ('2021-05-01', 'Sweden', 57691),
 ('2021-05-02', 'Sweden', 56830),
 ('2021-05-03', 'Sweden', 58043),
 ('2021-05-04', 'Sweden', 59255),
 ('2021-05-05', 'Sweden', 60468),
 ('2021-05-06', 'Sweden', 61680),
 ('2021-05-07', 'Sweden', 62892),
 ('2021-05-08', 'Sweden', 64105),
 ('2021-05-09', 'Sweden', 65317),
 ('2021-05-10', 'Sweden', 64658),
 ('2021-05-11', 'Sweden', 63999),
 ('2021-05-12', 'Sweden', 63340),
 ('2021-05-13', 'Sweden', 62680),
 ('2021-05-14', 'Sweden', 62021),
 ('2021-05-15', 'Sweden', 61362),
 ('2021-05-16', 'Sweden', 60703),
 ('2021-05-17', 'Sweden', 61267),
 ('2021-05-18', 'Sweden', 61831),
 ('2021-05-19', 'Sweden', 62395),
 ('2021-05-20', 'Sweden', 62959),
 ('2021-05-21', 'Sweden', 63524),
 ('2021-05-22', 'Sweden', 64088),
 ('2021-05-23', 'Sweden', 64652),
 ('2021-05-24', 'Sweden', 65278),
 ('2021-05-25', 'Sweden', 65904),
 ('2021-05-26', 'Sweden', 66530),
 ('2021-05-27', 'Sweden', 67156),
 ('2021-05-28', 'Sweden', 67782),
 ('2021-05-29', 'Sweden', 68408),
 ('2021-05-30', 'Sweden', 69034),
 ('2021-05-31', 'Sweden', 71075),
 ('2021-06-01', 'Sweden', 73116),
 ('2021-06-02', 'Sweden', 75157),
 ('2021-06-03', 'Sweden', 77198),
 ('2021-06-04', 'Sweden', 79239),
 ('2021-06-05', 'Sweden', 81280),
 ('2021-06-06', 'Sweden', 83321),
 ('2021-06-07', 'Sweden', 85243),
 ('2021-06-08', 'Sweden', 87164),
 ('2021-06-09', 'Sweden', 89085),
 ('2021-06-10', 'Sweden', 91006),
 ('2021-06-11', 'Sweden', 92928),
 ('2021-06-12', 'Sweden', 94849),
 ('2021-06-13', 'Sweden', 96770),
 ('2021-06-14', 'Sweden', 98646),
 ('2021-06-15', 'Sweden', 100521),
 ('2021-06-16', 'Sweden', 102397),
 ('2021-06-17', 'Sweden', 104273),
 ('2021-06-18', 'Sweden', 106148),
 ('2021-06-19', 'Sweden', 108024),
 ('2021-06-20', 'Sweden', 109900),
 ('2021-06-21', 'Sweden', 107151),
 ('2021-06-22', 'Sweden', 104402),
 ('2021-06-23', 'Sweden', 101653),
 ('2021-06-24', 'Sweden', 98904),
 ('2021-06-25', 'Sweden', 96155),
 ('2021-06-26', 'Sweden', 93406),
 ('2021-06-27', 'Sweden', 90657),
 ('2021-06-28', 'Sweden', 92590),
 ('2021-06-29', 'Sweden', 94523),
 ('2021-06-30', 'Sweden', 96455),
 ('2021-07-01', 'Sweden', 98388),
 ('2021-07-02', 'Sweden', 100321),
 ('2021-07-03', 'Sweden', 102253),
 ('2021-07-04', 'Sweden', 104186),
 ('2021-07-05', 'Sweden', 101336),
 ('2021-07-06', 'Sweden', 98486),
 ('2021-07-07', 'Sweden', 95637),
 ('2021-07-08', 'Sweden', 92787),
 ('2021-07-09', 'Sweden', 89937),
 ('2021-07-10', 'Sweden', 87087),
 ('2021-07-11', 'Sweden', 84237),
 ('2021-07-12', 'Sweden', 82381),
 ('2021-07-13', 'Sweden', 80525),
 ('2021-07-14', 'Sweden', 78669),
 ('2021-07-15', 'Sweden', 76813),
 ('2021-07-16', 'Sweden', 74957),
 ('2021-07-17', 'Sweden', 73101),
 ('2021-07-18', 'Sweden', 71245),
 ('2021-07-19', 'Sweden', 69890),
 ('2021-07-20', 'Sweden', 68535),
 ('2021-07-21', 'Sweden', 67181),
 ('2021-07-22', 'Sweden', 65826),
 ('2021-07-23', 'Sweden', 64471),
 ('2021-07-24', 'Sweden', 63116),
 ('2021-07-25', 'Sweden', 61762),
 ('2021-07-26', 'Sweden', 59519),
 ('2021-07-27', 'Sweden', 57276),
 ('2021-07-28', 'Sweden', 55034),
 ('2021-07-29', 'Sweden', 52791),
 ('2021-07-30', 'Sweden', 55661),
 ('2021-07-31', 'Sweden', 51648),
 ('2021-08-01', 'Sweden', 47634),
 ('2021-08-02', 'Sweden', 45863),
 ('2021-08-03', 'Sweden', 44092),
 ('2021-08-04', 'Sweden', 53509),
 ('2021-08-05', 'Sweden', 52644)]

In [27]:
results = pd.read_sql_query("""SELECT date, country, daily_vaccinations FROM Daily_Vaccine_Data WHERE Country LIKE 'Sweden' AND date like '2021%'""", con)

DatabaseError: Execution failed on sql 'SELECT date, country, daily_vaccinations FROM Daily_Vaccine_Data WHERE Country LIKE 'Sweden' AND date like '2021%'': no such table: Daily_Vaccine_Data